&backlight {
    compatible = "zmk,backlight";
    pin = <13>; /* Cambia este valor según el pin que usas para el backlight */
    levels = <3>; /* Niveles de brillo, ajusta según tu necesidad */
};

/ {
    chosen {
        zmk,backlight = &backlight;
    };
};
