&pwm0 {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&zmk_rgb_underglow {
    compatible = "zmk,rgb-underglow";
    pin = <6>;                     // GPIO conectado al DIN del LED
    chain-length = <12>;           // Cambia según el número de LEDs
    label = "RGB_LED";
};
